/* จัดตำแหน่งทุกอย่างให้อยู่ตรงกลางของหน้าจอ */
body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* กำหนดกล่องหลักสำหรับเนื้อหา */
.container {
    text-align: center;
    margin: auto 30% auto 30%;
}

/* จัดรูปแบบของปุ่ม */
button {
    margin: 5px; /* เว้นช่องว่างระหว่างปุ่มแต่ละปุ่ม */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.highlight {background-color: greenyellow;}


/* ตาราง */
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}
